#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

body{
  box-sizing: border-box;
  margin-left: 1.5em;
  margin-right: 1.5em;
  background-color: rgb(170, 241, 202);
}

/* .header{
  background-color: #cfa2c9;
} */

/* img{
  display: inline-block;
  width: 7em;
  height: 8em;
} */

.movies {
	display: flex;
	flex-wrap: wrap;
}

.movie {
	flex : 1;
	background-color: whitesmoke;
	border: 1px solid rgb(170, 9, 135);
	/* padding: 0.5em; */
	margin: 0.25em;
	border-radius: 0.5em;
  /* flex-wrap: wrap; */
}

.add{
  border: none;
  font-size: 1.5em;
  float: left;

}

.del{
  border: none;
  font-size: 1.5rem;
  float: left;
}

body {
  position: relative;
}

.usermessage{
	/* background-color: whitesmoke; */
	color: green;
	font-weight: bold;
	font-size: 1.5em;
}

.unauthorised{
	/* background-color : whitesmoke; */
	color: red;
	font-weight: bold;
	font-size: 1.5em;
}

.logout{
  float: right;
}

*{
  font-family: 'Poppins', sans-serif;
   -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}


img {
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    /* user-drag: none; */
}
img {
  pointer-events: none;
}
.movie_card{
  padding: 0 !important;
  width: 12rem;
  margin:14px; 
  border-radius: 10px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
  /* flex: auto; */
  text-align: center;
}
.movie_card img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 15rem;
  
}
.movie_info{
  color: #5e5c5c;
}

.movie_info i{
  font-size: 20px;
}
.card-title{
  width: 80%;
  height: 4rem;
}
.expand{
  padding-top: 2em;

}

.open{
  font-size: 1.5em;
}

h2{
  font-size: 2.5em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* color: white; */
}

.favouritesHeading{
  font-size: 1.5em;
}

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

